@value colors: "../Assets/colors.css";
@value rest, colorBackground, mainMarginLeft, mainMarginRight, borderLine, middleMarginValue, topMarginValue from colors;


.main{
    display: flex;
    height: calc(100vh - 70px);
    align-items: stretch;
    width: 100%;
}

.left{
    justify-content: center;
    align-items: center;
    flex: 1 3 100%;
    flex-basis: 100%;
    padding: mainMarginLeft;
    padding-right: middleMarginValue;
    padding-top: topMarginValue;
}

.right{
    justify-content: center;
    align-items: center;
    flex: 1 4 100%;
    flex-basis: 100%;
    background-color: colorBackground;
    padding: mainMarginRight;
    border-left: 1px solid borderLine;
    padding-left: middleMarginValue;
    padding-top: topMarginValue;
}

@media only screen and (max-width: 700px) {
    .main{
        flex-flow: column;
    }
    
    .left{
        justify-content: center;
        align-items: center;
        padding: middleMarginValue;
        padding-right: middleMarginValue;
        padding-top: middleMarginValue;
        order: 2;
    }
    
    .right{
        order: 1;
        justify-content: center;
        align-items: center;
        background-color: colorBackground;
        padding:  middleMarginValue;
        border-left: 0px;
        padding-top: topMarginValue;
        border-bottom: 1px solid borderLine;
    }
}

@media only screen and (max-width: 1000px) {
    .left{
        padding: middleMarginValue;
    }
    
    .right{
        padding:  middleMarginValue;
    }
}
  
  