.header {
  width: 100%;
  height: 50px;
  background-color: rgb(71, 71, 71);
  padding: 0 50px 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.picture {
  margin: 10px;
  width: 100px;
  height: calc(100% - 20px);
  background-image: url("https://www.currencyfair.com/cf-content/themes/cfwp-2018/svg/currencyfair-logo-pos.svg?x30389");
  background-repeat: no-repeat;
  background-size: contain;
  transition: transform 0.2s;
  cursor: pointer;
}

.picture:hover {
  transform: scale(1.05);
}

@media only screen and (max-width: 600px) {
  .header {
    background-color: lightblue;
    padding: 0;
  }
}
