@value colors: "../../../../Assets/colors.css";
@value blueLight, blueLighter, fontDark, smallFont from colors;

.singleLabel {
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-basis: 100%;
    text-align: center;
    font-size: smallFont;
    font-weight: bold;
}
  
.singleLabelInner {
    display: inline-block;
    text-align: left;
    align-self: center;
    color: fontDark;
}

.singleLabelInnerDone {
    display: inline-block;
    text-align: left;
    align-self: center;
    color: blueLight;
}

.singleLabelInner, .singleLabelInnerDone{
    margin-bottom: 7px;
}
  
.singleLabelInner > div, .singleLabelInnerDone > div{
    margin: 5px;
} 