@value colors: "../../../Assets/colors.css";
@value spacerTop, blueLight, blueDark, borderLine, fontGray, colorBackground from colors;

.main{
    margin-top: spacerTop;
}


.button {
    background-color: blueLight; 
    border: 1px solid blueDark;
    color: white;
    padding: 15px 15px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.locked{
    background-color: #DDF0F9; 
    border: 1px solid #D9EBF3;
}

.secondary{
    background-color: colorBackground; 
    border: 1px solid borderLine;
    color: fontGray;
}